@import url('https://fonts.googleapis.com/css2?family=Sono:wght@200;300;400;500;600;700;800&display=swap');
html, body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Sono', sans-serif;
  background-color: #00060d;
}
/* prefers color scheme */
@media (prefers-color-scheme: light) {
  html, body {
    background-color: #fff;
  }
}
@media (prefers-color-scheme: dark) {
  html, body {

  }
}
/* prefers reduced motion */
@media (prefers-reduced-motion: reduce) {
  html, body {
    scroll-behavior: auto;
  }
}
.isActive:focus:not(:focus-visible) {
  background-color: transparent;
}
.card-container:not(:last-child) {
  margin-bottom: 10px;
}
.card-container:not(:first-child){
  margin-top: 20px;
}
.card-icons:hover{
  transform: scale(1.1);
}
.card-icons:hover:is(:nth-child(2)){
  color:"red";
}
textarea {
  resize: vertical;
  min-height: 100px;
  max-height: 300px;
  /* resize vertically with the amount of text within it */
  
}